* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header image */

.banner {
    background-image: url(./banner1.png);
    height: 620px;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: cover;
}

/* header text */

#intro {
    width: 50%;
    margin-left: auto;
    padding-top: 150px;
    padding-right: 200px;
    margin-bottom: 60px;
}

#intro h1 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 65px;
    line-height: 70px;
    color: #151414;
}

button.primary {
    margin-top: 28px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(255, 166, 0, 0.929);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: rgb(247, 250, 252);
    border-color: rgba(255, 166, 0, 0.929);
}

p.description {
    padding-right: 40px;
    margin-top: 20px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #444343;
}

/* first part styles */

.first-part {
    display: flex;
}

#person {
    padding-right: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.our-work {
    margin: 280px 1px;
    padding-left: 200px;
}

.our-work h2 {
    font-weight: 900;
    font-size: 45px;
    line-height: 43px;
    padding-right: 120px;
    color: #151414;
}

.our-work p {
    padding-top: 20px;
    padding-right: 180px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #444343;
}

/* second part styles */

section {
    max-width: 850px;
    margin: 0 auto;
}

h3.text {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 30px;
    margin-top: 0;
    color: #151414;
}

div.icon-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

p.title {
    font-weight: 700;
    font-size: 55px;
    line-height: 35px;
    margin-bottom: 10px;
    text-align: center;
    color: #151414;
}

p.describtion {
    text-align: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-top: 5px;
    color: #737272;
}

/* gradient part */

section.gradient {
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(watch.png);
    object-fit: contain;
    background-size: cover;
    height: 265px;
    width: 870px;
    border-radius: 8px;
    margin-top: 125px;
    margin-bottom: 125px;
}

h2.provad {
    padding-left: 58px;
    padding-top: 55px;
    padding-right: 300px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: aliceblue;
}

.button {
    margin-left: 58px;
    margin-top: 17px;
    width: 100px;
    height: 44px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #F15B22;
    border-radius: 5px;
    border-color: aliceblue;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* footer styles */

ol {
    display: flex;
    gap: 17px;
}

ol li {
    list-style: none;
}

.contact {
    padding-left: 210px;
    padding-top: 120px;
}

.subscribe {
    padding-top: 120px;
    padding-right: 210px;
}

.subs {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
}

.connect {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 16px;
}

.dscrib {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
}

.mail {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
}

.number {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
}

input {
    width: 225px;
    height: 44px;
    background-color: #151414;
    border-radius: 5px;
    border-color: #ffffffa5;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #F3F3F3;
    margin-top: 27px;
}

footer {
    text-align: left;
    display: flex;
    gap: 300px;
    background: #151414;
    color: #FFFFFF;
    width: 100%;
    height: 520px;

}

button {
    width: 100px;
    height: 44px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #F15B22;
    border-radius: 5px;
    border-color: rgba(240, 248, 255, 0.792);
    margin-top: 16px;
}

::placeholder {
    padding-left: 10px;
    color: rgba(240, 248, 255, 0.699);
}